:root {
  --body-font-family: "Inter", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --small-font-family: "Inter", Helvetica;
  --small-font-weight: 300;
  --small-font-size: 12px;
  --small-letter-spacing: 0px;
  --small-line-height: normal;
  --small-font-style: normal;
  --caption-font-family: "Inter", Helvetica;
  --caption-font-weight: 300;
  --caption-font-size: 14px;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;
  --caption-font-style: normal;
  --body-bold-font-family: "Inter", Helvetica;
  --body-bold-font-weight: 600;
  --body-bold-font-size: 16px;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: normal;
  --body-bold-font-style: normal;
  --heading-secondary-font-family: "Inter", Helvetica;
  --heading-secondary-font-weight: 700;
  --heading-secondary-font-size: 20px;
  --heading-secondary-letter-spacing: 0px;
  --heading-secondary-line-height: normal;
  --heading-secondary-font-style: normal;
  --heading-primary-font-family: "Inter", Helvetica;
  --heading-primary-font-weight: 700;
  --heading-primary-font-size: 32px;
  --heading-primary-letter-spacing: 0px;
  --heading-primary-line-height: normal;
  --heading-primary-font-style: normal;
  --m3-body-large-font-family: "Roboto", Helvetica;
  --m3-body-large-font-weight: 400;
  --m3-body-large-font-size: 16px;
  --m3-body-large-letter-spacing: 0.5px;
  --m3-body-large-line-height: 24px;
  --m3-body-large-font-style: normal;
  --m3-body-small-font-family: "Roboto", Helvetica;
  --m3-body-small-font-weight: 400;
  --m3-body-small-font-size: 12px;
  --m3-body-small-letter-spacing: 0.4000000059604645px;
  --m3-body-small-line-height: 16px;
  --m3-body-small-font-style: normal;
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-weight: 400;
  --body-base-font-size: 16px;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --body-base-font-style: normal;
  --collection-1-brand-puple: rgba(106, 14, 255, 1);
  --collection-1-brand-puple-light: rgba(239, 229, 255, 1);
  --collection-1-brand-puple-dark: rgba(68, 0, 179, 1);
  --collection-1-neutral-grey100: rgba(255, 255, 255, 1);
  --collection-1-neutral-grey200: rgba(234, 234, 234, 1);
  --collection-1-neutral-grey300: rgba(191, 191, 191, 1);
  --collection-1-neutral-grey400: rgba(149, 149, 149, 1);
  --collection-1-neutral-grey500: rgba(106, 106, 106, 1);
  --collection-1-neutral-grey600: rgba(64, 64, 64, 1);
  --collection-1-neutral-grey700: rgba(21, 21, 21, 1);
  --m3-schemes-on-surface-variant: rgba(73, 69, 79, 1);
  --m3-schemes-secondary-container: rgba(232, 222, 248, 1);
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  --m3-schemes-surface: rgba(254, 247, 255, 1);
  --m3-schemes-outline: rgba(121, 116, 126, 1);
  --m3-schemes-primary: rgba(101, 85, 143, 1);
  --color-text-neutral-tertiary: var(--color-primitives-slate-600);
  --color-border-neutral-tertiary: var(--color-primitives-slate-400);
  --color-primitives-slate-600: rgba(118, 118, 118, 1);
  --color-primitives-slate-400: rgba(178, 178, 178, 1);
  --size-space-300: 12px;
  --size-space-100: 4px;
  --size-radius-100: 4px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-m3-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-m3-mode="light"] {
  --m3-schemes-on-surface-variant: rgba(73, 69, 79, 1);
  --m3-schemes-secondary-container: rgba(232, 222, 248, 1);
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  --m3-schemes-surface: rgba(254, 247, 255, 1);
  --m3-schemes-outline: rgba(121, 116, 126, 1);
  --m3-schemes-primary: rgba(101, 85, 143, 1);
}

[data-m3-mode="light-high-contrast"] {
  --m3-schemes-on-surface-variant: rgba(37, 35, 43, 1);
  --m3-schemes-secondary-container: rgba(73, 57, 113, 1);
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  --m3-schemes-surface: rgba(253, 247, 255, 1);
  --m3-schemes-outline: rgba(69, 65, 74, 1);
  --m3-schemes-primary: rgba(39, 23, 78, 1);
}

[data-m3-mode="light-medium-contrast"] {
  --m3-schemes-on-surface-variant: rgba(69, 65, 74, 1);
  --m3-schemes-secondary-container: rgba(124, 107, 167, 1);
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  --m3-schemes-surface: rgba(253, 247, 255, 1);
  --m3-schemes-outline: rgba(97, 93, 103, 1);
  --m3-schemes-primary: rgba(73, 57, 113, 1);
}

[data-m3-mode="dark"] {
  --m3-schemes-on-surface-variant: rgba(202, 196, 208, 1);
  --m3-schemes-secondary-container: rgba(74, 68, 88, 1);
  --m3-schemes-on-primary: rgba(56, 30, 114, 1);
  --m3-schemes-surface: rgba(20, 18, 24, 1);
  --m3-schemes-outline: rgba(147, 143, 153, 1);
  --m3-schemes-primary: rgba(208, 188, 254, 1);
}

[data-m3-mode="dark-high-contrast"] {
  --m3-schemes-on-surface-variant: rgba(255, 249, 255, 1);
  --m3-schemes-secondary-container: rgba(211, 193, 255, 1);
  --m3-schemes-on-primary: rgba(0, 0, 0, 1);
  --m3-schemes-surface: rgba(20, 18, 24, 1);
  --m3-schemes-outline: rgba(206, 200, 212, 1);
  --m3-schemes-primary: rgba(255, 249, 255, 1);
}

[data-m3-mode="dark-medium-contrast"] {
  --m3-schemes-on-surface-variant: rgba(206, 200, 212, 1);
  --m3-schemes-secondary-container: rgba(152, 135, 197, 1);
  --m3-schemes-on-primary: rgba(27, 9, 66, 1);
  --m3-schemes-surface: rgba(20, 18, 24, 1);
  --m3-schemes-outline: rgba(166, 161, 171, 1);
  --m3-schemes-primary: rgba(211, 193, 255, 1);
}

[data-m3-mode="monochrome-light"] {
  --m3-schemes-on-surface-variant: rgba(71, 71, 71, 1);
  --m3-schemes-secondary-container: rgba(212, 212, 212, 1);
  --m3-schemes-on-primary: rgba(226, 226, 226, 1);
  --m3-schemes-surface: rgba(249, 249, 249, 1);
  --m3-schemes-outline: rgba(119, 119, 119, 1);
  --m3-schemes-primary: rgba(0, 0, 0, 1);
}

[data-m3-mode="monochrome-dark"] {
  --m3-schemes-on-surface-variant: rgba(198, 198, 198, 1);
  --m3-schemes-secondary-container: rgba(71, 71, 71, 1);
  --m3-schemes-on-primary: rgba(26, 28, 28, 1);
  --m3-schemes-surface: rgba(19, 19, 19, 1);
  --m3-schemes-outline: rgba(145, 145, 145, 1);
  --m3-schemes-primary: rgba(255, 255, 255, 1);
}

[data-color-mode="SDS-light"] {
  --color-text-neutral-tertiary: var(--color-primitives-slate-600);
  --color-border-neutral-tertiary: var(--color-primitives-slate-400);
}

[data-color-mode="SDS-dark"] {
  --color-text-neutral-tertiary: var(--color-primitives-slate-400);
  --color-border-neutral-tertiary: var(--color-primitives-slate-600);
}
