*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}



.frame {
  position: relative;
  width: 412px;
  height: 825px;
  border: 2px solid var(--collection-1-neutral-grey600);
  padding: 24px;
  border-radius: 8px;
}

.frame .text-wrapper {
  position: absolute;
  top: 72px;
  left: 190px;
  font-family: var(--heading-secondary-font-family);
  font-weight: var(--heading-secondary-font-weight);
  color: #000000;
  font-size: var(--heading-secondary-font-size);
  letter-spacing: var(--heading-secondary-letter-spacing);
  line-height: var(--heading-secondary-line-height);
  white-space: nowrap;
  font-style: var(--heading-secondary-font-style);
}

.frame .text-field {
  top: 144px;
  display: flex;
  flex-direction: column;
  width: 378px;
  align-items: flex-start;
  position: absolute;
  left: 17px;
  border-radius: 4px 4px 0px 0px;
}

.frame .state-layer-wrapper {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--m3-schemes-outline);
}

.frame .state-layer {
  display: flex;
  align-items: flex-start;
  padding: 4px 0px 4px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 4px 4px 0px 0px;
}

.frame .content {
  display: flex;
  flex-direction: column;
  height: 48px;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .input-text {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  border: none;
  background: none;
  margin-top: -1px;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: var(--collection-1-neutral-grey600);
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
  padding: 0;
}

.frame .label-text {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  top: -12px;
  left: -4px;
  background-color: var(--m3-schemes-surface);
  border: none;
  margin-top: -1px;
  font-family: var(--m3-body-small-font-family);
  font-weight: var(--m3-body-small-font-weight);
  color: var(--m3-schemes-on-surface-variant);
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.frame .trailing-icon {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.frame .container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
}

.frame .icon-wrapper {
  gap: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}

.frame .icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .text-field-wrapper {
  top: 247px;
  display: flex;
  flex-direction: column;
  width: 378px;
  align-items: flex-start;
  position: absolute;
  left: 17px;
  border-radius: 4px 4px 0px 0px;
}

.frame .label-text-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  top: -12px;
  left: -4px;
  background-color: var(--m3-schemes-surface);
}

.frame .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-small-font-family);
  font-weight: var(--m3-body-small-font-weight);
  color: var(--m3-schemes-on-surface-variant);
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.frame .switch {
  display: flex;
  width: 52px;
  height: 32px;
  align-items: center;
  justify-content: flex-end;
  padding: 2px 4px;
  position: absolute;
  top: 325px;
  left: 20px;
  background-color: var(--collection-1-brand-puple);
  border-radius: 100px;
}

.frame .handle {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.frame .target {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  position: relative;
  top: -10px;
  left: 8px;
}

.frame .handle-shape-wrapper {
  flex-direction: column;
  gap: 8px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}

.frame .handle-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--m3-schemes-on-primary);
  border-radius: 24px;
  overflow: hidden;
}

.frame .container-2 {
  position: relative;
  width: 2px;
  height: 2px;
  border-radius: 23px;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 326px;
  left: 80px;
  font-family: var(--heading-secondary-font-family);
  font-weight: var(--heading-secondary-font-weight);
  color: var(--collection-1-neutral-grey400);
  font-size: var(--heading-secondary-font-size);
  letter-spacing: var(--heading-secondary-letter-spacing);
  line-height: var(--heading-secondary-line-height);
  white-space: nowrap;
  font-style: var(--heading-secondary-font-style);
}

.frame .button {
  display: flex;
  width: 378px;
  height: 39px;
  position: absolute;
  top: 471px;
  left: 17px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 32px;
  background-color: var(--collection-1-brand-puple);
  border-radius: 8px;
}

.frame .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--collection-1-neutral-grey100);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.frame .button-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 378px;
  height: 39px;
  position: absolute;
  top: 408px;
  left: 17px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 32px;
  background-color: var(--collection-1-brand-puple);
  border-radius: 8px;
}

.frame .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  color: var(--collection-1-neutral-grey100);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.frame .account-circle {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 73px;
  left: 155px;
}

.frame .tab {
  display: flex;
  width: 210px;
  align-items: center;
  justify-content: center;
  padding: var(--size-space-100) var(--size-space-300) var(--size-space-100) var(--size-space-300);
  position: absolute;
  top: 519px;
  left: 188px;
  border-radius: var(--size-radius-100) var(--size-radius-100) 0px 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--color-border-neutral-tertiary);
}

.frame .label {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-neutral-tertiary);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
}

.frame .linear-indeterminate {
  position: absolute;
  width: 404px;
  height: 12px;
  top: 107px;
  left: 4px;
}

.frame .track {
  display: flex;
  flex-direction: column;
  width: 404px;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 0px 4px 2px;
  position: relative;
}

.frame .track-shape {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 4px;
  background-color: var(--m3-schemes-secondary-container);
  border-radius: 8px;
}

.frame .track-wrapper {
  position: absolute;
  width: 404px;
  height: 12px;
  top: 367px;
  left: 4px;
}

.frame .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 735px;
  left: 138px;
}

.frame .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 32px;
  background-color: var(--collection-1-brand-puple);
  border-radius: 8px;
}
